
body {
  font-family: Arial;
  background-color: white;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  background-color: #ffffff;
  padding: 30px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
}

#todoInput {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#addBtn {
  background-color:#00acc1;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  background-color:#0097a7;
}

.filterBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterBtn button {
  flex: 1;
  margin: 0 8px;
  padding: 12px;
  background-color: #00acc1;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterBtn button:hover {
  background-color: #0097a7;
}
.noTasks {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 40px 0;
}

.deleteBtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  
}

.deleteDone {
  background-color:#e53935;
  color: white;
  padding: 12px;
  flex: 1;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: not-allowed;
}

.deleteAll {
  background-color: #e53935;
  color: white;
  padding: 12px;
  flex: 1;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: not-allowed; 
}
.deleteDone:hover {
  background-color: #ec5c57;
}
.deleteAll:hover {
  background-color: #ec5c57;
} 

  .noTasks{
    width: 800px;  
    padding: 30px;
  }

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  font-size: 16px; 
  width: 800px;  
  padding: 10px; 
  margin-bottom: 10px;
  font-size: 1.2rem;
}    

.taskBtn{
  display: flex;
  gap: 10px;
  align-items: center;
} 

.taskBtn button{
background: #ffffff;
  border: none; 
  width: 30px; 
  height: 30px; 
  cursor: pointer; 
  display: flex; 
  justify-content: center; 
  align-items: center; 

}  
.editBtn{
  color: yellow;
} 

.deleteBtn{
  color:#ec5c57 ;
}





