body {
  font-family: Arial;
  background-color: white;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  background-color: #ffffff;
  padding: 30px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
}

#todoInput {
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#addBtn {
  background-color: #00acc1;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #0097a7;
}

.filterBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filterBtn button {
  flex: 1;
  margin: 0 8px;
  padding: 12px;
  background-color: #00acc1;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filterBtn button:hover {
  background-color: #0097a7;
}

.filterBtn button.active {
  background-color: #007d8a;
  border: 2px solid #005e66;
}

.noTasks {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 40px 0;
  width: 800px;
  padding: 30px;
}

.deleteBtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.deleteDone,
.deleteAll {
  background-color: #e53935;
  color: white;
  padding: 12px;
  flex: 1;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: not-allowed;
  transition: background-color 0.2s ease;
}

.deleteDone:hover,
.deleteAll:hover {
  background-color: #ec5c57;
}

.deleteAll[disabled],
.deleteDone[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

ul#taskList {
  padding: 5px;
}

#taskList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ccc;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

#taskList li span {
  word-break: break-word;
  flex: 1;
}

#taskList li.completed {
  background-color: #fcebea;
}

#taskList li.completed span {
  text-decoration: 2px line-through #e53935;
  color: #e53935;
}

.taskBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.taskBtn button {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.taskBtn i {
  font-size: 18px;
  vertical-align: middle;
}

.taskBtn button:hover {
  transform: scale(1.2);
}

.editBtn {
  color: rgb(255, 217, 0);
}

.deleteBtn {
  color: #ec5c57;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#cancelDelete,
#cancelEdit {
  background-color: #e53935;
  color: white;
}

#confirmDelete,
#saveEdit {
  background-color: #0097a7;
  color: white;
}

#editInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

b {
  font-size: 24px;
}
